nav#mainNav.navbar.navbar-custom.navbar-fixed-top
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        |  Menu 
        i.fa.fa-bars
      a.navbar-brand.page-scroll(href='/') MyongGoPa
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
            li.hidden
            a(href='#page-top')

        ul.nav.navbar-nav.navbar-right
            if (!currentUser) 
                li
                    a.page-scroll(href='#', data-toggle='modal', data-target='#myLoginModal') Signin
                li 
                    a.page-scroll(href='#', data-toggle='modal', data-target='#mySignUpModal') Signup
            else
                li
                    a.page-scroll(href='/users/#{currentUser._id}') Profile
                li
                    a.page-scroll(href='/signout') Signout

  