extends ../layout 

block content
    .container
        form
            .form-group
                label(for='name') 음식점 이름
                input#name.form-control(type='text', placeholder='name')
            .form-group
                label(for='moreinfomation') 추가정보
                input#moreinfomation.form-control(type='text', placeholder='moreinfomation')
            .form-group
                label(for='menu') 메뉴
                input#menu.form-control(type='text', placeholder='menu')
            .form-group
                label(for='note') 참고사항
                input#note.form-control(type='text', placeholder='note')
            .form-group
                label(for='file') 사진업로드
                input#file(type='file')

            button.btn.btn-default(type='submit') Submit
            
            hr
            // Footer
            footer
                .row
                    .col-lg-12
                        p 명지대 팀프로젝트
            // /.row
